[data]
    name = {{ promptStringOnce . "name" "Full name" | quote }}
    personalEmail = {{ promptStringOnce . "personalEmail" "Personal email" | quote }}
    workEmail = {{ promptStringOnce . "workEmail" "Work email" | quote }}
    signingKey = {{ promptStringOnce . "signingKey" "GPG signing key ID (leave blank to disable)" | quote }}
