{{ if eq .chezmoi.os "darwin" -}}
# Colima (macOS only)
Include ~/.colima/ssh_config

# OrbStack (macOS only)
Include ~/.orbstack/ssh/config

{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
# DevPod — update the workdir/context as needed per machine
# DevPod Start devpod.devpod
Host devpod.devpod
  ForwardAgent yes
  LogLevel error
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  HostKeyAlgorithms rsa-sha2-256,rsa-sha2-512,ssh-rsa
  ProxyCommand "/Applications/DevPod.app/Contents/MacOS/devpod-cli" ssh --stdio --context default --user root devpod --workdir "/workspaces/content"
  User root
# DevPod End devpod.devpod

{{ end -}}
Host *
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
{{- end }}
  IdentityFile ~/.ssh/id_ed25519
